button {
  position: center;
  background: linear-gradient(90deg, rgb(255, 60, 0, 0.2) 0%, rgb(0, 255, 85, 0.2) 35%, rgb(247, 0, 255, 0.2) 100%);
  border: none;
  color: rgb(0, 0, 0, 0.4);
  transition: 1s; 
  min-height: 80%;
  max-height: 50%;
  min-width: 100%;
  text-align: center;
  margin-bottom: 2%;
  font-size: 150%;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
}

.logo {
  width: 100px;
  height: 200px;
}

.Header {
  top: 0;
  position: fixed;

  background-color: coral;
  width: 100%;
}

